/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.ace_twilio_label {
    width: 25%;
    float: left;
}
.ace_twilio_content {
    width: 74%;
    float: left;
    margin-bottom: 10px;
    position: relative;
}
.ace_twilio_label_status {
    width: 25%;
    float: left;
    margin-top: 15px;
}
.ace_twilio_content_status {
    width: 74%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}
input.ace_twilio_cr {
    width: 60%;
}
.ace_twilio_content textarea {
    width: 60%;
}
.ace_twilio_save {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799,
        -1px 0 1px #006799;
    margin: 5px 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}
strong.ace_twilio_lable {
    font-size: 15px;
}
p.aceInfo {
    color: red;
    position: absolute;
    left: 41%;
    top: -8px;
}
p.aceError {
    color: red;
    top: -10px;
    left: 61%;
    position: absolute;
}
p.error2 {
    color: red;
    position: absolute;
    left: 70%;
    top: 340px;
}
p.error3 {
    color: red;
    position: absolute;
    left: 61%;
    top: -8px;
}
.ace_twilio_content i.aceInfo {
    display: block;
    margin-top: 5px;
}
.ace_twilio_content select {
    width: 20%;
    margin-top: -3px;
}
.ace_twilio_content .ace_twilio_input {
    width: 40%;
}
.aceError2{
	color:red;
	top:12px;
	left:61%;
	position:absolute;
}
/*arrow remove css*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
